//超出省略
.ellipsis {
  display: -webkit-box; //必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
  //-webkit-box-orient //必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。
  text-overflow: ellipsis; //，可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。
  overflow: hidden;
  -webkit-line-clamp: 1; //第几行显示缩略符号
  -webkit-box-orient: vertical;
}

.min-height{
  min-height: 100vh;
}