$main-color: #1F5BB2;

$dark-blue: #0A439B;
$shine-blue: #00B4FF;
$light-blue: #99CCFF;
$plain-blue: #F2F9FF;

$light-purple: #7EB0FF;

$light-grey: #cdcdcd;

$main-warning: #ffa200;
$dark-warning: #e99400;

$light-green: #60C9E9;
$shine-green: #66cccc;
